
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
#header
{
	width: 100%;
	height: 70px;
	background-color: #2F4F4F;
	border-bottom: 3px solid rgba(100,100,100,0.3);
}
p
{
	color: #00FFFF;
	font-family: lobster;
	font-weight: 500;
}

.logo
{
	float: left;
	margin-top: 20px;
	margin-left: 600px;
}
.logo a
{
	font-size: 1.3em;
	color: #fff;
	font-weight: 300;
	font-family: lobster;

}
.logo a:hover
{
	color: fff;
}
a
{
	text-decoration: none;
}
#container
{
	width: 100%;
	margin: 0 auto;
}
.content
{
	height: 560px;
	margin-left: 200px;
	background-color:#F5F5DC;
	padding: 15px;
}
.sidebar
{
	width: 200px;
	height: 560px;
	background-color: #2F4F4F;
	float: left;
	border-right: 3px solid rgba(100,100,100,0.3);
}
#nav li
{
    list-style: none;
	color: #ccc;
	display: block;
	padding: 10px;
	font-size: 1em;
    border-bottom: 3px solid rgba(100,100,100,0.3);
    transition: 0.3s;
    margin-left: 40px;
}
#nav li i
{
    list-style: none;
	color: #ccc;
	display: block;
	padding: 10px;
	font-size: 1em;
    border-bottom: 3px solid rgba(100,100,100,0.3);
    transition: 0.3s;
    margin-left: 40px;
}
#nav li:hover
{
	background-color: #696969;
	color: #fff;
}
#nav li a.selected
{
	background-color: #030303;
	color: #fff;
	padding-left: 30px;
}
#profile{
  background: #2F4F4F;
  width: 210px;
  height: 10%;
  padding: 20px;
  cursor: pointer;
  border-bottom: 3px solid rgba(100,100,100,0.3);
  border-top: 3px solid rgba(100,100,100,0.3);
}
#profile img{
  width: 140px;
  height: 130px;
  border-radius: 50%;
  

}
#menu-icon
{
	color: orange;
}